$containerWidth: 1100px /*+ 20px*/;
$baseFontSize: 16px;

$black: #292929;
$red: #E01F3D;
$darkRed: #CA1B36;
$white: #FFFFFF;


@import "./blocks/normalize.css";

@import 'https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Open+Sans&family=Play:wght@400;700&display=swap';

@import "./blocks/_base.scss";
@import "./blocks/_header.scss";
@import "./blocks/_welcome.scss";
@import "./blocks/_features.scss";
@import "./blocks/_feature.scss";
@import "./blocks/_button.scss";
@import "./blocks/_section.scss";
@import "./blocks/_headline.scss";
@import "./blocks/_benefits.scss";
@import "./blocks/_benefit.scss";
@import "./blocks/_benefits-section.scss";
@import "./blocks/_reviews-section";
@import "./blocks/_reviews.scss";
@import "./blocks/_reviews__display.scss";
@import "./blocks/_interactive-avatar.scss";
@import "./blocks/_order-section.scss";
@import "./blocks/_form.scss";
@import "./blocks/_radio.scss";
@import "./blocks/_fixed-menu.scss";





