@charset "UTF-8";
@import "./blocks/normalize.css";
/*@import 'https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Open+Sans&family=Play:wght@400;700&display=swap';*/
body,
html {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Play", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666666;
  position: relative;
}

.wrapper {
  position: relative;
  /*overflow: hidden;*/
  background-color: #fff;
  min-height: 100%;
  width: 100%;
  min-width: 1100px;
}

.wrapper__content {
  position: relative;
}

.container {
  margin: 0 auto;
  width: 1100px;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  display: block;
}

img {
  display: block;
  max-width: 100%;
  /*max-height: 100%;*/
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer {
  position: relative;
  width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo, .menu__list, .menu__items, .contacts {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-right: 27px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item__link {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.phone-number {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon-elem {
  width: 13.9px;
  height: 13.8px;
  margin-right: 6px;
}

/*.logo {
  display: block;
	margin-right: 38px;

  &__img {
    width: 39.9px;
    height: 39.9px;
  }
}

.logo, .menu__list, .menu__items, .contacts {
  display: inline-flex;
}*/
/*&__item {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-right: 27px;
  color: $textColor;
  &:last-child {
    margin-right: 0;
  }
}*/
/*.contacts {
  display: flex;
  &__phone {
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: $textColor;
    position: absolute;
    &::before {
      content: url(../../img/phone.png);
      position: absolute;
      margin-right: 6px;
      width: 13.9px;
      height: 13.8px;
      transform: translate(0%, 50%);
    }
  }
}*/
.welcome {
  background: url("../img/picture1.png") left 75% center no-repeat;
  background-color: #F5F5F5;
  height: 100vh;
  min-height: 650px;
  color: #292929;
  position: relative;
}
.welcome:after {
  position: absolute;
  bottom: -25px;
  right: 12%;
  content: url("../../img/stick.png");
}

.welcome__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 24px 0 50px 0;
}

.welcome__title-section {
  min-height: 300px;
  width: 55%;
}

.welcome__main-title {
  color: #292929;
  font-family: "Play";
  font-style: bold;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.welcome__title-desc {
  color: #292929;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 36px;
}

/*.hello {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 335px;
    margin-bottom: 70px;
  }
  &__title {
    text-align: left;
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
    max-width: 400px;
    margin-bottom: 22px;
    color: $textColor;
  }
  &__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 33.5px;
    color: $textColor;
  }
  &__button {
    width: 163px;
    height: 54px;
  }
}*/
.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__items {
  margin-right: 18px;
}
.features__items:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 166px;
}

.feature__icon {
  width: 52px;
  height: 52px;
  margin-right: 12px;
}

.feature__text {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #292929;
  max-width: 114px;
}

.button {
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  width: 163px;
  padding: 18px 41px;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}
.button--red {
  background: #E01F3D;
  color: #fff;
}
.button--red:hover {
  color: #fff;
  background: #CA1B36;
}
.button--transparent {
  background: transparent;
  color: #FFFFFF;
  text-transform: none;
  margin-left: 15px;
}
.button--transparent:hover {
  color: #E01F3D;
}

.section {
  height: 100vh;
  min-height: 650px; /*временно не 650*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__title {
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  margin-bottom: 53px;
  text-align: center;
  color: #292929;
  text-transform: uppercase;
}

.headline__title {
  margin-bottom: 18px;
  text-align: center;
}

.headline__subtitle {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 0 26%;
  text-align: center;
  margin-bottom: 62px;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item::before {
  content: url(../../img/decor.png);
  position: absolute;
  top: 30px;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}

.benefit__image--wrapper {
  display: inline-block;
  width: 128px;
  height: 128px;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 24px;
}

.benefit__icon {
  width: 68px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #292929;
  margin-bottom: 7px;
  text-decoration: none;
}

.benefit__decs {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 0 11%;
  text-decoration: none;
}

.benefits-section {
  position: relative;
}
.benefits-section:before {
  content: url("../../img/triangle.png");
  position: absolute;
  bottom: -15px;
  left: 5%;
}

.reviews__section {
  position: relative;
}
.reviews__section:before {
  content: url("../../img/circle.png");
  position: absolute;
  bottom: -20px;
  left: 5%;
}

.revies__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__display {
  background: #F8FAF9;
  padding: 42px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
}
.reviews__display:before {
  content: "";
  display: block;
  width: 93px;
  height: 93px;
  background: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -61px;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__avatar {
  width: 253px;
  height: 264px;
  margin-right: 40px;
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 107px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.reviews__title {
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #292929;
  margin-bottom: 27px;
}

.reviews__text {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 38px;
  width: 498px;
}

.reviews__author {
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #292929;
}

.interactive-avatar {
  width: 74px;
  height: 74px;
  border: 4px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-right: 6px;
}
.interactive-avatar--active {
  border-color: #E01F3D;
}
.interactive-avatar:last-child {
  margin-right: 0;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 1005;
  -o-object-fit: cover;
     object-fit: cover;
}

.order-section {
  position: relative;
  background-color: #181818;
  color: #FFFFFF;
}

.section__title--white {
  color: #FFFFFF;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 27px;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 36px;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 17px;
}
.form__block:last-child {
  margin-right: 0;
}

.form__title {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-bottom: 3px;
}

.form__input {
  width: 100%;
  border: none;
  padding: 18px 12px;
  border: 3px solid transparent;
  border-radius: 4px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.form__input--textarea {
  height: 152px;
  resize: none;
  margin-bottom: 42px;
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 24px;
}
.form__controls:last-child {
  margin-bottom: 0;
}

.form__btns {
  margin-top: 48px;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 20px;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible:before {
  background: url("../../img/checkmark.png") center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 25px;
  height: 25px;
  position: relative;
  border-radius: 50%;
  background: #FFFFFF;
}
.radio__visible:before {
  content: "";
  width: 13px;
  height: 13px;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.radio__title {
  margin-left: 10px;
}

.fixed-menu {
  position: fixed;
  top: 40%;
  right: 3%;
}

.fixed-menu__item {
  margin-bottom: 7px;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}
.fixed-menu__item--active .fixed-menu__link:before {
  content: "";
  background: #E01F3D;
}

.fixed-menu__link {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #292929;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}