.benefits {
  display: flex;

  @include phones {
    flex-direction: column;
    text-align: left;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;

  @include tablets {
    padding: 0 .4%;
  }

  @include phones {
    padding: 0;
    margin-bottom: rem(37px);
  }

  &:before {
    content: url(../img/svg/decor.svg);
    position: absolute;
    top: rem(60px);
    right: rem(3px);
    transform: translateX(50%);

    @include tablets {
      content:"";
    }
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;

    &:before {
      display: none;
    }
  }
}

