.benefits-section {
  position: relative;

  &:before {
    content: url("../img/triangle.png");
    position: absolute;
    bottom: -0.9375rem;
    left: 5%;
    z-index: 50;
  }
}

.benefits-section__container {
  @include tablets {
    width: 99%;
  }

  @include phones {
    width: 95%;
  }
}