.button {
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.125rem; 
  padding: 1.125rem 2.5625rem;
  text-transform: uppercase;
  border-radius: 6.25rem;
  border: none;
  cursor: pointer;
  display: inline-flex;

  &--red {
    background: $red;
    color: $white;  
  }

  &--transparent {
    background: transparent;
    color: $white;
    text-transform: none;
    padding: 0 rem(4px);

    @include tablets {
      color: $red;
    }
  }
}

.button--red:hover {
  background: $darkRed;
}