.hamburger {
  width: 26.11px;
  height: 15.1px;
  flex-direction: column;
  justify-content: space-between;
  display: none;

  @include tablets {
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: $black;
  height: 4.44px;
  border-radius: 10px;
  margin-bottom: 5.33px;

  &:last-child {
    margin-bottom: 0;
  }  
}