.headline {
  margin-bottom: 3.875rem;

  @include tablets {
    margin-bottom: rem(54px);
  }
}

.headline__title {
  margin-bottom: 1.125rem;
  text-align: center; 

  @include tablets {
    margin-bottom: rem(11px);
  }

  @include phones {
    font-style: normal;
    font-weight: 700;
    font-size: rem(32px);
    line-height: rem(36px);
  }
}

.headline__subtitle {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  padding: 0 22%;
  text-align: center;
  

  @include tablets {
    padding: 0 12%;
  }

  @include phones {
    padding: 0 5%;
  }
}
