.order-section {
  position: relative;
  background: url(../img/order_background.png) center center / cover no-repeat #181818;
  color: $white;

  @include tablets {
    background: url(../img/order_background.png) center bottom / cover no-repeat #181818;
  }
}

.order__container {
  @include phones {
    padding: rem(87px) rem(10px) rem(81px);
  }
}

.section__title--white {
  color: $white;
}

