.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateX(rem(20px));
  

  @include tablets {
    transform: translateX(rem(-27px));
    
  }

  @include phones {
    transform: initial;
  }
  
}

.social__item {
  margin-right: rem(10px);
  display: inline-flex;

  &:last-child {
    margin-right: 0;
  }

  @include phones {
    margin-right: rem(14px);
  }
}

.social__img {
  width: rem(30px);
  height: rem(30px);

  @include tablets {
    width: rem(32px);
    height: rem(32px);
  }

  @include phones {
    width: rem(24px);
    height: rem(24px);
  }

  &:hover {
    fill: #B3B3B3;
  }
}