.benefit {
  text-align: center;

  @include phones {
    display: flex;
  }
}

.benefit__image {
  position: relative;
  display: inline-block;
  width: 8rem;
  height: 8rem;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.5rem;

  @include phones {
    margin-bottom: 0;
    margin-right: 0.75rem;
  }
}

.benefit__image--icon {
  position: absolute;
  min-width: rem(32px);
  max-height: rem(60px);
  top: 50%;
  left: 50%;
  transform: translate(-50%,- 50%);
}

.benefit__text {
  text-align: center;

  @include phones {
    text-align: left;
  }
}

.benefit__title {
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: $black;
  margin-bottom: 0.4375rem;
  text-decoration: none;
}

.benefit__decs {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  padding: 0 5%;
  text-decoration: none;

  @include phones {
    padding: 0 2%;
  }
}