.benefits-section {
  position: relative;

  &:before {
    content: url("../img/triangle.png");
    position: absolute;
    bottom: -0.9375rem;
    left: 5%;
  }
}

.headline__title {
  @include phones {
    font-style: normal;
    font-weight: 700;
    font-size: rem(32px);
    line-height: rem(36px);
  }
}