.button {
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px; 
  padding: 18px 31px;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  cursor: pointer;

  &--red {
    background: $red;
    color: #fff;

    &:hover {
      color: #fff;
      background: $darkRed;
    }
  }

  &--transparent {
    background: transparent;
    color: $white;
    text-transform: none;
    margin-left: 15px;

    &:hover {
      color: $red;
    }
  }
}

