.features {
  display: flex;
}

.features__items {
  margin-right: 18px;

  &:last-child {
    margin-right: 0;
  }
}

.feature {
  display: flex;
  max-width: 166px;
}

.feature__icon {
  width: 52px;
  height: 52px;
  margin-right: 12px;
}

.feature__text {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $black;
  max-width: 114px;
}



