.features {
  display: flex;
}

.features__items {
  margin-right: rem(29px);

  &:last-child {
    margin-right: 0;
  }
}

.feature {
  display: flex;
}

.feature__icon--img {
  width: rem(40px);
  height: rem(40px);
  margin-right: rem(11px);
}

.feature__text {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.125rem;
  color: $black;
  max-width: 7.125rem;
}



