.order-section__main-title {
  margin-bottom: rem(58px);

  @include phones {
    margin-bottom: rem(63px);
    font-weight: 700;
    font-size: rem(32px);
    line-height: rem(36px);
  }
}

.form {
  display: flex;
  width: 100%;

  @include tablets {
    padding: 0 19%;
    flex-direction: column;
  }

  @include phones {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.6875rem;

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: rem(13px);

  &--textarea {
    margin-bottom: rem(35px);
  }  
}

.form__block {
  flex: 1;
  margin-right: 1rem;

  &:last-child {
    margin-right: 0;
  }
}

.form__title {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: $white;
  margin-bottom: rem(4px);
}

.form__input {
  width: 100%;
  border: none;
  padding: rem(16px) rem(16px);
  border: 0.1875rem solid transparent;
  border-radius: 0.25rem; 
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #000000;

  @include tablets {
    height: rem(36px);
    resize: none;
  }

  @include phones {
    height: rem(36px);
    resize: none;
  } 

  &--textarea {
    height: 9.5rem;
    resize: none;

    @include tablets {
      height: rem(82px);
      resize: none;
    }

    @include phones {
      height: rem(82px);
      resize: none;
    }
  }

  &:focus {
    border-color: $red;
    outline: none;
  }
}  

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;

  &:last-child {
    margin-bottom: 0;
  }

  @include phones {
    justify-content: center;
  }
}

.form__btns {
  display: flex;
  margin-top: 3rem;

  @include tablets {
    justify-content: center;
  }
}

.form__btn-clear {
  margin-left: rem(10px);
}