.hamburger {
  width: rem(26px);
  height: rem(24px);
  flex-direction: column;
  justify-content: space-between;
  display: none;

  @include tablets {
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: $black;
  height: rem(4.5px);
  border-radius: rem(10px);
  margin-bottom: rem(5.35px);

  &:last-child {
    margin-bottom: 0;
  }  
}