$textColor: #292929;

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.phone-number.header__phone-number {
  @include tablets {
    display: none;
  }
}

.beats__logo, .menu__list, .menu__items {
  display: inline-flex;
}

.beats__logo {
  
}

.beats__logo--img {
  width: rem(40px);
  height: rem(40px);
  color: $red;
}

.menu {
  display: flex;
  align-items: center;
  margin: 0 rem(27px);
  padding-top: 0.625rem;

  @include tablets {
    display: none;
  }
}

.menu__list {
  flex-wrap: wrap;
  justify-content: center;
}

.menu__item {
  margin-right: 1.6875rem;
  margin-bottom: 0.625rem;

  &:last-child {
    margin-right: 0;
  }

  &__link {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.875rem;
    white-space: nowrap;
  }
}

.phone-number {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.125rem;
  display: flex;
  align-items: center;
}

.header__phone-number {
  margin-top: rem(10px);
}

.phone-number__img {
  width: 0.86875rem;
  height: 0.8625rem;
  margin-right: 0.375rem;
  margin-bottom: 2px;
  flex-shrink: 0;
}

.phone-number__text {
  white-space: nowrap;
}
