$textColor: #292929;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone-number.header__phone-number {
  @include tablets {
    display: none;
  }
}

.logo, .menu__list, .menu__items, .contacts {
  display: inline-flex;
}

.menu {
  display: flex;
  align-items: center;

  @include tablets {
    display: none;
  }
}

.beats_logo {
  width: 2.5rem;
  height: 2.5rem;
}

.logo {
  width: 100%;
}

.menu__item {
  margin-right: 1.6875rem;

  &:last-child {
    margin-right: 0;
  }

  &__link {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.875rem;
  }
}

.phone-number {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.125rem;
  display: flex;
  align-items: center;
}

.phone-number__icon {
  width: 0.86875rem;
  height: 0.8625rem;
  margin-right: 0.375;
}

.phone-number__icon-elem {
  width: 100%;
}

