.headline__title {
  margin-bottom: 18px;
  text-align: center; 
}

.headline__subtitle {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 0 26%;
  text-align: center;
  margin-bottom: 62px;
}