.paginator {
	width: 100%;
	vertical-align: middle;
	display: flex;
	justify-content: center;
  &__list {
    display: flex;
    gap: 12px;
    vertical-align: middle;
  }
  &__item {
    width: 9px;
    height: 9px;
  }	
  &:hover {
    
  }
}