.welcome {
  background: url("../img/picture1100.png") left 75% center no-repeat;
  background-color: #F5F5F5;
  height: 100vh;
  min-height: 40.625rem;
  color: $black;
  position: relative;

  @include tablets {
    background: none;
    background-color: #F5F5F5;
  }

  &:after {
    position: absolute;
    bottom: -1.5625rem;
    right: 12%;  
    content: url("../img/stick.png");
  }
}

.welcome__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.5rem 0 3.125rem 0;

  @include tablets {
    padding: 3.25rem 0 3.25rem 0;
  }
}

.welcome__title-section {
  min-height: 18.75rem;
  width: 55%;

  @include tablets {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &:before {
    content: url("../img/picture768.png") center no-repeat;
  }
}

.welcome__main-title {
  color: $black;
  font-family: 'Play';
  font-style: bold;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.25rem;
  margin-bottom: 1.375rem;
  text-transform: uppercase;
}

.welcome__title-desc {
  color: $black;
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.5625rem;
  margin-bottom: 2.25rem;
}

.welcome__spec-section {
  @include tablets {
    display: none;
  }
}

















/*.hello {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 335px;
    margin-bottom: 70px;
  }
  &__title {
    text-align: left;
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
    max-width: 400px;
    margin-bottom: 22px;
    color: $textColor;
  }
  &__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 33.5px;
    color: $textColor;
  }
  &__button {
    width: 163px;
    height: 54px;
  }
}*/