.welcome {
  /*background: url("../img/picture1100.png") left 75% center no-repeat;*/
  background-color: #F5F5F5;
  height: 100vh;
  min-height: 40.625rem;
  color: $black;
  position: relative;

  @include tablets {
    background: none;
    background-color: #F5F5F5;
  }

  &:after {
    position: absolute;
    bottom: -1.5625rem;
    right: 12%;  
    content: url("../img/stick.png");
  }
}

.welcome__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.5rem 0 3.125rem 0;

  @include tablets {
    padding: 3.25rem 0 3.25rem 0;
  }
}

.welcome__title-section {
  position: relative;
  /*min-height: 18.75rem;*/
  width: 46%;

  @include tablets {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &:before {
    position: absolute;
    content: url("../img/picture768.png") center no-repeat;
    display: block;
    width: 20.1875rem;
    height: 20.1875rem;
  }
}

.welcome__main-title {
  color: $black;
  font-family: 'Play';
  font-style: bold;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.25rem;
  margin-bottom: 1.375rem;
  text-transform: uppercase;

  @include tablets {
    width: 41.5625rem;
  }
}

.welcome__title-desc {
  color: $black;
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.5625rem;
  margin-bottom: 2.25rem;
  width: 20.9375rem;

  @include tablets {
    width: 23.1875rem;
  }
}

.welcome__img {
  position: absolute;
  width: 30.5625rem;
  height: 30.5625rem;
  margin-left: 60%/*40rem*/;
  margin-top: 8%/*6.9375rem*/;

  @include tablets {
    display: none;
  }
}

.welcome__spec-section {
  @include tablets {
    display: none;
  }
}
















